<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DoubleTakeInventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Doubletake" connectionString="data source=50.22.153.229,778; UID=weinsteinsystem_dtuser; PWD=1234qwer!@#$"
      providerName="System.Data.SqlClient" />
    <add name="DoubleTakeInventory.Properties.Settings.weinsteinsystem_credentialsConnectionString"
      connectionString="Data Source=50.22.153.229,778;Initial Catalog=weinsteinsystem_credentials;Persist Security Info=True;User ID=weinsteinsystem_admin;Password=1234qwer!@#$"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DoubleTakeInventory.Properties.Settings>
      <setting name="DoubletakeConnectionString" serializeAs="String">
        <value>data source=50.22.153.229,778; UID=weinsteinsystem_dtuser; PWD=1234qwer!@#$</value>
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>DoubleTake Vintage Clothing</value>
      </setting>
      <setting name="AddressLine1" serializeAs="String">
        <value>1175 NWGilman Blvd Suite #B11</value>
      </setting>
      <setting name="AddressLine2" serializeAs="String">
        <value>Issaquah, WA 98027</value>
      </setting>
      <setting name="AddressLine3" serializeAs="String">
        <value>(425) 392-4908 doubletakevintage@clear.net</value>
      </setting>
      <setting name="FooterLine1" serializeAs="String">
        <value>         No Returns or Exchanges</value>
      </setting>
      <setting name="FooterLine2" serializeAs="String">
        <value>         www.doubletakevintage.com</value>
      </setting>
      <setting name="ZebraLabel" serializeAs="String">
        <value>NARROW</value>
      </setting>
      <setting name="MessageBoxTitle" serializeAs="String">
        <value>Application Exception Message</value>
      </setting>
    </DoubleTakeInventory.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
